.Heading {
  text-align: center;
}

.App {
  width:100%;
  height: 100%;
}

body{
  font-family: Helvetica, sans-serif;
}

:root {
  --large-font-size: 36px;
  --medium-font-size: 24px;
  --small-font-size: 18px;
  --button-font-size: 20px;

  --primary-color: #075056;
  --secondary-color: #03383C;
  --background-color:  rgba(50, 138, 146, .05);
  --primary-text-color: white;

}