.PageButtonGroup {
    border-bottom: 1px solid black;
    display: block;
    padding: 30px 0px 0px 0px;
}

.PageButtonGroup button {
    margin-right: 25px;
}


.NavButton {
    font-size: 1.8rem;
    padding-bottom: 10px;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
}

.NavButton:focus,  .NavButton:active {
    outline: none !important;
}
.Selected {
    font-weight: bold;
    color: darkcyan;
    border-bottom: 4px solid var(--primary-color) !important;
    -webkit-appearance: none; box-shadow: none !important; 
}

.RoomInfoSelector {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.RoomInfoSelector button {
    cursor: pointer;
}
