.container {
    text-align: center;
    text-emphasis: bold !important;
    width: 100%;
    margin: 10px;
}

.container h3 {
  text-emphasis: bold;
  font-size: large;
}

#SpinnerLabel {
  text-emphasis: bold !important;
  font-size: large;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: auto;
    animation: spinning 2s linear infinite;
  }
  
  @keyframes spinning {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }