.Sandbox {
    position: fixed;
    width: 100%;
    height: 280px;
    bottom: 0;
    left:0;
    width: 100%;
    opacity: 0.8;
    font-family: Helvetica, sans-serif;
    background-color: #15282C;
}

.Sandbox h1 {
    margin-top: 38px;
    margin-bottom: 10px;
    padding: 0;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 44px;
    text-align: center;
}

.Sandbox p {
    margin: 0 0 25px 0;
    padding: 0;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
}

.SandBoxButtonGroup {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.SandBoxButtonGroup a {
    color: white;
    text-decoration: none;
    display: flex;
    width: 240px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
}
.SandBoxButtonGroup a:first-child {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}